<h1>マイアカウント</h1>

<table>
  <tr>
    <th>名前</th>
    <td><%= @user.name %></td>
  </tr>

  <tr>
    <th>メールアドレス</th>
    <td><%= @user.email %></td>
  </tr>

  <tr>
    <th>パスワード</th>
    <td>*********</td>
  </tr>
  </table>
